@model Basic_Project.Models.Purchase

@{
    ViewData["Title"] = "Update_Purchase";
}

<center><h1>Update Purchase Record</h1></center>

@if (ViewBag.SMESSAGE != null)
{
    <div class="alert-success">@ViewBag.SMESSAGE</div>
}
@if (ViewBag.EMESSAGE != null)
{
    <div class="alert-danger">@ViewBag.SMESSAGE</div>
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update_Purchase">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PurchaseProduct" class="control-label"></label>
                <input asp-for="PurchaseProduct" class="form-control" />
                <span asp-validation-for="PurchaseProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseDate" class="control-label"></label>
                <input asp-for="PurchaseDate" class="form-control" />
                <span asp-validation-for="PurchaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseQnty" class="control-label"></label>
                <input asp-for="PurchaseQnty" class="form-control" />
                <span asp-validation-for="PurchaseQnty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductMdfDate" class="control-label"></label>
                <input asp-for="ProductMdfDate" class="form-control" />
                <span asp-validation-for="ProductMdfDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductExpDate" class="control-label"></label>
                <input asp-for="ProductExpDate" class="form-control" />
                <span asp-validation-for="ProductExpDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-warning btn-sm" asp-action="Display_Purchase">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
